
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  

.services h1 {
  border: none;
}
.services{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
button {
  padding: 10px 20px;
  margin: 0 5px 5px 0;
  border: none;
  background-color: #eee;
  cursor: pointer;
  border-radius: 75px;
}



.info {
    text-align: center;
    padding-top:  20px;
    padding-bottom:2% ;
  }
button:hover{
    transform: scale(1.05);
    transition: 0.7s;
    background-color: navy;
    color: white;
  }

